In [140]:
import numpy as np
import pandas as pd

def IdentifyUSGS_Quad(sample):
    S = sample.split()
    A = set(S).intersection(set(s)) - set(['the', 'and', 'of', 'or'])
    start = 99999
    L = 0
    T = 0
    # set lose the order of the token in the string, find first token and length
    for v in A:
        start = min(start, sample.index(v))
        L += len(v) 
        print(v)
        T += 1
    return(sample[start:start+L+T-1])

In [5]:
nm = pd.read_csv('quads_075_csv/quads_075.csv')[['NAME',	'LAT',	'LONG']]
nm

                NAME     LAT     LONG
0             Abbott  36.250 -104.250
1        Abbott Lake  36.125 -104.250
2          Abbott NW  36.375 -104.375
3             Abeyta  37.000 -104.125
4            Abeytas  34.375 -106.750
...              ...     ...      ...
2197     Youngsville  36.125 -106.500
2198       Ysleta NW  31.625 -106.375
2199        Yt Ranch  32.000 -102.875
2200            Zuni  35.000 -108.750
2201  Zuni Salt Lake  34.375 -108.750

[2202 rows x 3 columns]

In [136]:
sample = 'Formento-Trigilio, M.L., Wegmann, K., and Pazzaglia, F.J., 1998, Preliminary geologic map of the Ojito Spring 7.5-minute quadrangle, Sandoval County, New Mexico: New Mexico Bureau of Mines and Mineral Resources, Open-File Geologic Map OF-GM 46, scale 1:24,000.'
IdentifyUSGS_Quad(sample)

Ojito
Spring

'Ojito Spring'

In [137]:
sample2 = 'Berge Exploration, Inc., 1979, Coal resource occurrence and coal development potential maps of the La Ventana quadrangle, Sandoval County, New Mexico: U.S. Geological Survey, Open-File Report OF-79-1038, scale 1:24,000.'
IdentifyUSGS_Quad(sample2)

La
Ventana

'La Ventana'

In [138]:
IdentifyUSGS_Quad('Berge Exploration, Inc., 1979, Federal coal resource occurrence and coal development potential maps of the Arroyo Empedrado 7 1/2-minute quadrangle, Sandoval County, New Mexico: U.S. Geological Survey, Open-File Report OF-79-1045, scale 1:24,000.')

Empedrado
Arroyo

'Arroyo Empedrado'

In [141]:
IdentifyUSGS_Quad('Berge Exploration, Inc., 1979, Federal coal resource occurrence and coal development potential maps of the San Luis 7 1/2-minute quadrangle, Sandoval County, New Mexico: U.S. Geological Survey, Open-File Report OF-79-1044, scale 1:24,000.')

Luis
San

'San Luis'

In [134]:
sample = 'Berge Exploration, Inc., 1979, Federal coal resource occurrence and coal development potential maps of the San Luis 7 1/2-minute quadrangle, Sandoval County, New Mexico: U.S. Geological Survey, Open-File Report OF-79-1044, scale 1:24,000.'
S = sample.split()
A = set(S).intersection(set(s)) - set(['the', 'and', 'of', 'or'])
start = 99999
L = 0
T = 0
for v in A:
    start = min(start, sample.index(v))
    L += len(v) 
    print(v)
    T += 1
sample[start:start+L+T-1]

Luis
San

'San Luis'

In [92]:
# Quantization

In [ ]:
from numpy import array, argmin, sqrt, sum
observation = array([131.0, 188.0])
codes = array([[102.0, 203.0],
               [132.0, 193.0],
               [45.0, 155.0],
               [57.0, 173.0]])
diff = codes - observation    # the broadcast happens here
dist = sqrt(sum(diff**2,axis=-1))
argmin(dist)

In [53]:
# sample.capitalize().split() 
# sample.split()
# mask = np.array(sample.split()) == np.array(sample.capitalize().split() )
# np.array(sample.split())[~mask]